
{% extends 'base.html' %}

{% block title %}Home - Receipt Processor{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 text-white mb-4">Welcome to Receipt Processor</h1>
    <p class="lead text-white-50 mb-5">Choose an option to proceed:</p>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <a href="/flask/payments" class="btn btn-primary btn-lg w-100 py-3 shadow-lg">Process Receipts</a>
        </div>
    </div>
</div>
{% endblock %}