services:
  - type: web
    name: nginx-proxy
    image: topmost7007/unified_project-nginx:latest
    env: docker
    ports:
      - 80
    routes:
      - path: /
    healthCheckPath: /

  - type: web
    name: django-app
    image: topmost7007/unified_project-django-app:latest
    env: docker
    ports:
      - 8000

  - type: web
    name: flask-app
    image: topmost7007/unified_project-flask-app:latest
    env: docker
    ports:
      - 5000
