services:
  - type: web
    name: nginx-proxy
    image:
      url: topmost7007/unified_project-nginx:latest
    env: docker
    ports:
      - 80
    routes:
      - path: /
    healthCheckPath: /
    startCommand: nginx -g 'daemon off;'

  - type: web
    name: django-app
    image:
      url: topmost7007/unified_project-django-app:latest
    env: docker
    ports:
      - 8000
    startCommand: python manage.py runserver 0.0.0.0:8000

  - type: web
    name: flask-app
    image:
      url: topmost7007/unified_project-flask-app:latest
    env: docker
    ports:
      - 5000
    startCommand: gunicorn --bind 0.0.0.0:5000 app:app