services:
  - type: web
    name: nginx-proxy
    env: docker
    dockerfilePath: ./nginx/Dockerfile
    dockerContext: ./nginx
    ports:
      - 80
    routes:
      - path: /
    healthCheckPath: /
    startCommand: nginx -g 'daemon off;'

  - type: web
    name: django-app
    env: docker
    dockerfilePath: ./django_app/excel_web_app/Dockerfile
    dockerContext: ./django_app/excel_web_app
    ports:
      - 8000
    startCommand: python manage.py runserver 0.0.0.0:8000

  - type: web
    name: flask-app
    env: docker
    dockerfilePath: ./flask_app/Dockerfile
    dockerContext: ./flask_app
    ports:
      - 5000
    startCommand: gunicorn --bind 0.0.0.0:5000 app:app
