{% extends 'processor/base.html' %}
{% load static %}

{% block title %}Home - Excel Processor{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 text-white mb-4">Welcome to Excel Processor</h1>
    <p class="lead text-white-50 mb-5">Choose an option to proceed:</p>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <a href="{% url 'upload_file' %}" class="btn btn-primary btn-lg w-100 py-3 shadow-lg">Sales Process</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="http://127.0.0.1:5000/" class="btn btn-secondary btn-lg w-100 py-3 shadow-lg">Receipt Processing</a>
        </div>
    </div>
</div>
{% endblock %}